.landingPage{
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/group-color.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.rotatingText { 
  align-items: center;
  display: flex;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;

  @include respond(tab-port){
    top: 15%;
    right: 10%;
  }
  @include respond(phone-l){
    bottom: 10%;
    left: 10%;
  }
}

.rotatingText-content { 
  position: relative;
  width: 100%;
}

.rotatingText-description { 
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
  color: $gold;
  background-color: rgba($white,0.2);
  box-shadow: 0 0 5px 10px rgba($white,0.2);
}

#spin:after {
  content:"";
  animation: spin 9s ease-in-out infinite;

  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 4rem;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: $gold;
  background-color: rgba($white,0.2);
  box-shadow: 0 0 5px 10px rgba($white,0.2);

  @include respond(tab-port){
    margin-top: 8rem;
  }
}

@keyframes spin {
  0% { content:"🎉 Fijne feestdagen en een gelukkig & gezond 2023! 🎊";}
  35% { content:"Elke donderdagavond om 19.30 uur repeteren we met elkaar.";}
  45% { content:"Dit vind plaats in de basisschool de Bellefleur, Marijkelaan 1 te Dodewaard.";}
  100% { content:"🎉 Fijne feestdagen en een gelukkig & gezond 2023! 🎊";}
}

